.git
.github
.agents
.claude
.gemini
.trae
.kiro

build
coverage
dist
tmp
logs
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
vendor

.env
.env.*
!/.env.example

*.log
*.out
*.test
*.db
*.sqlite
*.sqlite3

.DS_Store
Thumbs.db
