{{ define "button" }}
<table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="box-sizing: border-box; margin: 25px 0; text-align: center;">
    <tr>
        <td align="center" style="box-sizing: border-box;">
            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="box-sizing: border-box;">
                <tr>
                    <td style="box-sizing: border-box; border-radius: 6px; background-color: {{ if eq .Color "success" }}{{$.Theme.SuccessColor}}{{ else if eq .Color "danger" }}{{$.Theme.DangerColor}}{{ else }}{{$.Theme.PrimaryColor}}{{ end }};">
                        <a href="{{ .Url }}" target="_blank" rel="noopener noreferrer" style="box-sizing: border-box; border: 1px solid {{ if eq .Color "success" }}{{$.Theme.SuccessColor}}{{ else if eq .Color "danger" }}{{$.Theme.DangerColor}}{{ else }}{{$.Theme.PrimaryColor}}{{ end }}; border-radius: 6px; color: #ffffff; display: inline-block; font-size: 14px; font-weight: 600; padding: 10px 24px; text-decoration: none; -webkit-text-size-adjust: none;">
                            {{ .Text }}
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{ end }}
